.find_label {
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column; 
    
}
.wrap_find {
   align-items: center;
   display: flex;
    flex-direction: column; 
   
}
.find_input {
    min-width: 250px;
    min-height: 26px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border-width: 0;
    margin-bottom: 15px;
    padding: 5px 10px;
    
}

/* .find_input:hover,
.find_input:focus {
    box-shadow: 3px 3px 13px 9px rgba(44, 90, 247, 0.68);
} */