.wrap {
  background: rgb(204, 100, 254);
  background: linear-gradient(
    -135deg,
    rgba(204, 100, 254, 1) 0%,
    rgba(255, 100, 124, 1) 100%
  );
  margin: 50px auto 0;
  padding: 40px;
  border-radius: 15px;
}
