.contactForm {
    margin-bottom: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.labelForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    color: white;
}

.labelInput {
    min-width: 250px;
    min-height: 26px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border-width: 0;
    margin-bottom: 15px;
    padding: 5px 10px;
}

/* .labelInput:hover,
.labelInput:focus {
    box-shadow: 3px 3px 13px 9px rgba(44, 90, 247, 0.68);
} */


.btnForm {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 120px;
    min-height: 30px;
    margin: 0;

    background-color: white;
    border: 3px #21d4fd solid;
    border-radius: 5px;

    font-size: 16px;
    font-family: inherit;
}

.btnForm:hover {
    /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #404bbf;
    fill: #ffffff; */
    background-color: #21d4fd;
    /* background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
    /* background: #64e8ff; */
}