.link {
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    margin-right: 10px;
    font-weight: 600;
    color: #2a363b;
    border-radius: 5px;
}

.link .active {
    color: #e84a5f;
}

.link:hover {
    border: 3px #21d4fd solid;
}