/* .h1 {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    color: white;
}
.h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: white;
} */

.container {
    /* max-width: 1200px; */
    width: 700px;
};