@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 50px auto 0;
  padding: 40px;
  background: rgb(204, 100, 254);
  background: linear-gradient(-135deg, rgba(204, 100, 254, 1) 0%, rgba(255, 100, 124, 1) 100%);
  border-radius: 15px;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p {
  
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1 {
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: white;
}